@import 'mq'
@import 'functions'
@import 'fonts'

$colors = {
  main: #D24B91,
  extra: #00B9FF,
  bg: #1F2229,
  gray: #4D5159,
}

@import 'keyframes'

fontRobotoSlab(weight = 700)
  font-family: Roboto Slab, serif
  font-weight: weight

.t2slider
  position: relative
  width: 100%
  padding: 17px 0
  user-select: none

  &-base
    position: relative
    z-index: 1
    width: 100%
    height: 5px
    background-color: $colors.gray
    border-radius: 100px

  &-lines
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

  &-line
    position: absolute
    top: 0
    left: 0
    width: 0
    height: 100%

    &--hope
      background-color: $colors.extra
      background-image: linear-gradient(45deg, #fff 0px, #fff 3.5px, $colors.extra 3.5px, $colors.extra 5.5px, #fff 5.5px)
      background-repeat: repeat
      background-size: 9px 100%

    &--diff1
      background-color: $colors.main

    &--diff
      background-color: $colors.main
      background-repeat: repeat
      background-size: 9px 100%

      &.is-less
        background-image: linear-gradient(45deg, $colors.bg 0px, $colors.bg 3.5px, $colors.main 3.5px, $colors.main 5.5px, $colors.bg 5.5px)

      &.is-more
        background-image: linear-gradient(45deg, $colors.bg 0px, $colors.bg 3.5px, #9F9FA0 3.5px, #9F9FA0 5.5px, $colors.bg 5.5px)

  &-origin
    position: absolute
    z-index: 2
    top: 0
    left: 0
    width: 100%
    height: 0
    transform-origin: 0 0
    will-change: transform

  &-handle
    position: relative
    width: 0
    height: 0

    &__tool
      position: absolute
      top: -8px
      left: -10px
      width: 20px
      height: 20px
      background-color: #fff
      border-radius: 100%
      cursor: grab

      &:active
        cursor: grabbing

      &::after
        content: ''
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        margin: auto
        width: 14px
        height: 14px
        border: 1px solid $colors.extra
        border-radius: 100%

    &__tooltip
      position: absolute
      top: -25px
      left: 50%
      color: #fff
      fontRobotoSlab()
      font-size: 14px
      line-height: 1
      white-space: nowrap
      transform: translate3d(-50%,0,0)

      &--real
        color: $colors.main

      &.is-incorrect
        color: #9F9FA0

      @media $mq.notMobile
        top: -42px
        font-size: 18px

  &-scale
    position: absolute
    bottom: 0
    left: 0
    right: 0
    width: 100%
    height: 10px

    & > span
      position: absolute
      top: 0
      left: 0
      width: 0

      &::after
        content: ''
        position: absolute
        top: 0
        left: 50%
        width: 2px
        height: 10px
        background-color: $colors.gray
        transform: translate3d(-50%,0,0)

      &[data-value]::after
        content: attr(data-value)
        width: auto
        height: auto
        margin-top: -2px
        color: $colors.gray
        font-size: 14px
        line-height: 1
        background-color: transparent

.tele2
  position: relative
  z-index: 99
  width: 1060px
  max-width: 100%
  font-family: Roboto, sans-serif
  font-size: 16px
  line-height: normal
  text-size-adjust: 100%
  transition: opacity .2s

  &.is-feed
    border-radius: 5px
    overflow: hidden

  & *
  & *:before
  & *:after
    box-sizing: border-box

  svg
    display block
    fill currentColor
    pointer-events none

  & b
    font-weight: 700

  & button
    font-family: inherit
    outline: none
    cursor: pointer
    appearance: none

  button&-btn
  &-btn
    min-width: 140px
    height: 45px
    padding: 0 25px 2px
    margin: 0
    color: #fff
    fontRobotoSlab()
    font-size: 18px
    line-height: 1
    border: 2px solid currentColor
    border-radius: 5px
    background-color: transparent
    box-shadow: none
    transition: color .2s, border-color .2s, background-color .2s

    a&
      display: inline-block
      color: #fff !important
      border: 2px solid currentColor !important
      line-height: 40px
      text-align: center

    &:hover
      color: $colors.main

      @media $mq.notHover
        color: #fff

    a&:hover
      color: $colors.main !important

      @media $mq.notHover
        color: #fff !important

    &.is-filled
      color: $colors.bg
      border-color: #fff
      background-color: #fff

      &:hover
        border-color: $colors.main
        background-color: $colors.main

        @media $mq.notHover
          border-color: #fff
          background-color: #fff

    &.is-disabled
      color: $colors.gray !important

  &__bg
    position: fixed
    z-index: 1
    top: 0
    bottom: 0
    left: 0
    right: 0
    width: 100%
    height: 100%
    background-color: $colors.bg

    ^[0].is-feed &
      position: absolute

  &__main
    position: relative
    z-index: 2
    width: 100%
    padding: 0 15px 10px
    background-color: $colors.bg
    overflow: hidden

    &.is-result
      padding: 0 5px 5px
      border: 0

    @media $mq.notMobile
      min-height: 600px
      padding: 0
      border: 3px solid $colors.main
      border-radius: 5px

  &-logo
    position: absolute
    z-index: 1
    top: 10px
    right: 15px
    display: block
    border: 0 !important
    transition: opacity .2s

    @media $mq.notMobile
      top: 18px
      right: 22px

    @media (min-width: 640px) and (max-width: 899px)
      right: calc(((100% - 640px) / 2) + 15px)

    &:hover
      opacity: .6

      @media $mq.notHover
        opacity: 1

  &-enter
    position: relative
    width: 500px
    max-width: 100%
    margin: 21px auto 0

    @media $mq.notMobile
      margin-top: 50px

    &__img
      position: absolute
      top: 165px
      right: 0

      & > svg
        fill: $colors.gray

      &.is-enable

        & .neon-a
          animation: blueLight 3s linear both

        & .neon-b
          animation: pinkLight 2s linear both

      @media $mq.iphone6
        top: 180px

      @media $mq.mobile
        width: 284px
        height: 164px

        & > svg
          width: 100%
          height: 100%

      @media $mq.notMobile
        top: 200px

    &__inner
      position: relative
      z-index: 1
      width: 370px
      max-width: 100%

    &__headline
      color: rgba(255,255,255,.3)
      fontRobotoSlab()
      font-size: 18px
      line-height: 1
      letter-spacing: .3em
      text-transform: uppercase

    &__title
      display: inline-block
      margin-top: 10px
      color: #fff !important
      fontRobotoSlab()
      font-size: 24px
      line-height: 1
      border: 0 !important
      pointer-events: none

      ^[0].is-feed &
        pointer-events: initial
        transition: opacity .2s

        &:hover
          opacity: .6

          @media $mq.notHover
            opacity: 1

      @media $mq.notMobile
        margin-top: 20px
        font-size: 48px

    &__text
      margin-top: 10px
      color: #fff
      line-height: 1.5em

      @media $mq.iphone6
        font-size: 18px

      @media $mq.notMobile
        margin-top: 20px

    &__btn
      margin-top: 180px

      @media $mq.notMobile
        margin-top: 220px

  &-test
    position: relative

    &__pages
      position: absolute
      top: 12px
      left: 0
      width: 95px
      height: 30px
      color: $colors.gray
      fontRobotoSlab()
      font-size: 18px
      line-height: 26px
      text-align: center
      border: 2px solid currentColor
      border-radius: 100px
      user-select: none

      @media $mq.notMobile
        top: 17px
        left: 20px

    &__inner
      position: relative
      width: 560px
      max-width: 100%
      padding: 60px 0 0
      margin: 0 auto

      @media $mq.notMobile
        min-height: 594px
        padding: 80px 0 145px

    &__head
      position: relative
      width: 100%
      height: 200px
      display: flex
      justify-content: center
      align-items: center

    &__spinner
      width: 75px
      height: 75px
      color: $colors.main
      animation: spin 1s steps(12) infinite

    &__img
      color: $colors.gray

      & > svg
        max-width: 100%
        max-height: 100%
        fill: currentColor

      &.is-enable
        //animation: flicker 2s linear infinite

        & .neon-a
          animation: blueLight .9s linear both

        & .neon-b
          animation: pinkLight 2s linear both

    &__body
      margin-top: 20px

      @media $mq.notMobile
        margin-top: 35px

    &__q
      color: #fff
      line-height: 1.5em

    &__q-title
      margin-top: 14px
      font-weight: 700
      //fontRobotoSlab()

    &__q-notice
      margin-top: 10px
      opacity: .4

    &__answer
      color: #fff
      line-height: 1.5em

    &__answer-title
      font-weight: 700
      //fontRobotoSlab()

      @media $mq.notMobile
        font-size: 18px

    &__answer-text
      margin-top: 10px

    &__bottom
      margin-top: 20px

      @media $mq.notMobile
        position: absolute
        left: 0
        right: 0
        bottom: 65px
        display: flex
        align-items: center
        width: 100%
        margin-top: 0

    &__slider
      width: 100%
      max-width: 380px
      margin: 0 auto

      @media $mq.notMobile
        flex-shrink: 0
        width: 380px
        max-width: 100%
        margin: 0 40px 0 0

    &__btn
      margin-top: 20px
      text-align: center

      @media $mq.notMobile
        margin-top: 0
        text-align: right

  &-result
    position: relative
    width: 640px
    max-width: 100%
    margin: 0 auto
    padding-top: 76px

    &__notice
      position: absolute
      top: 0
      left: 0
      right: 0
      display: flex
      justify-content: center
      align-items: center
      height: 76px
      padding: 0 90px 0 10px
      color: #fff
      font-size: 14px

      & > div > span
        color: $colors.extra
        font-weight: 700

      @media $mq.iphone6
        font-size: 16px

      @media (min-width: 900px)
        padding: 0

      ^[0].is-feed &
        padding: 0 90px 0 10px

    &__head
      position: relative
      padding: 15px 20px
      border: 3px solid $colors.main
      border-radius: 5px

      @media $mq.notMobile
        padding: 35px 40px 40px

    &__img
      position: absolute
      top: 20px
      left: 360px

      @media (max-width: 589px)
        display: none !important

      @media $mq.notMobile
        top: 40px
        left: 400px

    &__head-inner
      position: relative
      z-index: 1

    &__title
      color: $colors.extra
      fontRobotoSlab()
      font-size: 31px

      @media $mq.iphone6
        font-size: 36px

    &__caption
      margin-top: 8px
      color: #fff
      fontRobotoSlab()

    &__share
      margin-top: 25px
      min-height: 44px

    &__restart
      display: inline-flex
      align-items: center
      margin-top: 30px
      color: #fff
      font-size: 18px
      cursor: pointer
      opacity: .5
      transition: opacity .2s
      user-select: none

      & > span
        margin-right: 8px

      &:hover
        opacity: 1

        @media $mq.notHover
          opacity: .5

    &__bottom
      margin-top: 20px
      padding: 15px 20px 20px
      border: 3px solid #fff
      border-radius: 5px

      @media $mq.notMobile
        padding: 40px

    &__text
      color: #fff
      font-size: 18px
      line-height: 1.5em

    &__btn
      margin-top: 20px

      @media $mq.notMobile
        margin-top: 32px

  .likely
    &--custom
      display: flex

    &__widget
      flex-shrink: 0
      display: flex
      align-items: center
      justify-content: center
      min-width: 58px
      height: 44px
      color: #fff
      border: 2px solid currentColor
      border-radius: 5px
      background-color: transparent
      cursor: pointer

      &:not(:last-child)
        margin-right: 10px

      &:hover
        color: $colors.bg
        background-color: #fff

        @media $mq.notHover
          color: #fff
          background-color: transparent

      @media $mq.notMobile
        &--facebook
          padding: 0 20px 0 8px

    &__counter
      display: none

    &__icon
      background-color: transparent

      & svg
        display: block
        width: 24px
        height: @width
        fill: currentColor

      &--vkontakte
        & svg
          width: 28px
          height: @width

      &--facebook

        @media $mq.notMobile
          margin-right: 6px

    &__button
      display: none
      font-size: 18px
      line-height: 1

      @media $mq.notMobile
        display: block